@import "tailwindcss";

@font-face {
  font-family: 'Hafs';
  src: url('/fonts/hafs/KFGQPC Uthmanic Script HAFS Regular.woff2') format('woff2'),
       url('/fonts/hafs/KFGQPC Uthmanic Script HAFS Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-hafs: 'Hafs';
}