@import "tailwindcss";


@font-face {
  font-family: 'Hafs';
  src: url('/fonts/hafs/kfgqpc-uthmanic-script-hafs-regular.woff2') format('woff2'),
       url('/fonts/hafs/kfgqpc-uthmanic-script-hafs-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-hafs: 'Hafs';
}